---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">A more up-to-date list of papers can be found on <a href="{{site.author.googlescholar}}"> Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<br>
<hr>
<h3>Causal AI for Personalised Treatments</h3>
<ol>
  <li><b>V. K. Chauhan</b>, L. Clifton, G. Nigam and D. A. Clifton (2025) "<i>Individualised Treatment Effects Estimation with Composite Treatments and Composite Outcomes</i>", <b>The 47th Annual International Conference of the IEEE Engineering in Medicine and Biology Society, Bella Center, Copenhagen, Denmark, July 14-17, 2025</b>.<br>[ <a href="[LINK_TO_PREPRINT]">preprint</a> | <a href="[LINK_TO_CODE]">code</a> | <a href="[LINK_TO_POSTER]">poster</a> ]</li>
  <li><b>V. K. Chauhan</b>, J. Zhou, G. Ghosheh, S. Molaei, D. A. Clifton (2024) "<i>Dynamic Inter-treatment Information Sharing for Individualized Treatment Effects Estimation</i>", <b>The 27th International Conference on Artificial Intelligence and Statistics (AISTATS), May 2-4, 2024, Valencia, Spain</b>.<br>[ <a href="[LINK_TO_PAPER]">paper</a> | <a href="[LINK_TO_POSTER]">poster</a> | <a href="[LINK_TO_PREPRINT]">preprint</a> | <a href="[LINK_TO_CODE]">code</a> ]</li>
  <li><b>V. K. Chauhan</b>, J. Zhou, P. Lu, S. Molaei, D. A. Clifton (2024) "<i>A Brief Review of Hypernetworks in Deep Learning</i>", <b>Artificial Intelligence Review</b>.<br>[ <a href="[LINK_TO_PAPER]">paper</a> | <a href="[LINK_TO_PREPRINT]">preprint</a> | <a href="[LINK_TO_CODE]">code</a> ]</li>
  <li>O. H. I. Chou*, <b>V. K. Chauhan*</b>, C. T. Chung, L. Lu, T. T. L. Lee, Z. M. W. Ng, K. K. Wang, S. Lee, H. Liu, W. T. Wong, R. T. K. Pang, A. K., B. M.Y. Cheung, G. Tse, J. Zhou (2024) "<i>Comparing the risks of new-onset gastric cancer or gastric diseases in type 2 diabetes mellitus patients exposed to SGLT2I, DPP4I or GLP1A: a population-based cohort study</i>", <b>Gastric Cancer</b>.<br>[ <a href="[LINK_TO_PAPER]">paper</a> | <a href="[LINK_TO_PREPRINT]">preprint</a> ]</li>
  <li>O. H. I. Chou, <b>V. K. Chauhan</b>, C. T. Chung, L. Lu, T. T. L. Lee, Z. M. W. Ng, K. K. Wang, S. Lee, H. Liu, W. T. Wong, R. T. K. Pang, A. K., B. M.Y. Cheung, G. Tse, J. Zhou (2023). "<i>1567P The effect of SGLT2i and DPP4i on new-onset gastric cancer and gastric diseases in type 2 diabetes mellitus: A population-based cohort study</i>", <b>Annals of Oncology, 34, S876</b>.<br>[ <a href="[LINK_TO_ABSTRACT]">abstract</a> ]</li>
  <li><b>V. K. Chauhan</b>, S. Molaei, MH. Tania, A. Thakur, T. Zhu and D. A. Clifton (2023) "<i>Adversarial De-confounding in Individualised Treatment Effects Estimation</i>", <b>The 26th International Conference on Artificial Intelligence and Statistics (AISTATS)</b>.<br>[ <a href="[LINK_TO_PAPER]">paper</a> | <a href="[LINK_TO_POSTER]">poster</a> | <a href="[LINK_TO_PREPRINT]">preprint</a> | <a href="[LINK_TO_CODE]">code</a> | <a href="[LINK_TO_VIDEO]">video</a> ]</li>
</ol>

<hr>
<h3>AI in Healthcare - Postdoc in AI for Healthcare at the University of Oxford</h3>
<ol>
  <li><b>V. K. Chauhan</b>, L. Clifton, A. Salaun, Y. Lu, K. Branson, P. Schwab, G. Nigam and D. A. Clifton (2025) "<i>Sample Selection Bias in Machine Learning for Healthcare</i>", <b>ACM Transactions on Computing for Healthcare</b>.<br>
  <li><b>V. K. Chauhan</b>, L. Clifton, G. Nigam and D. A. Clifton (2025) "<i>Individualised Treatment Effects Estimation with Composite Treatments and Composite Outcomes</i>", <b>The 47th Annual International Conference of the IEEE Engineering in Medicine and Biology Society, Bella Center, Copenhagen, Denmark, July 14-17, 2025</b>.</li>
  <li>F. De Fabritiis, <b>V. K. Chauhan</b>, D. A. Clifton, K. Gryllias (2025) "<i>A context-aware methodology for fault detection and severity classification under variable operating conditions</i>", <b>The 31st International Congress on Sound and Vibration (ICSV31) to be held in Incheon, 06-11 July 2025</b>.</li>
  <li><b>V. K. Chauhan</b>, J. Zhou, G. Ghosheh, S. Molaei, D. A. Clifton (2024) "<i>Dynamic Inter-treatment Information Sharing for Individualized Treatment Effects Estimation</i>", <b>The 27th International Conference on Artificial Intelligence and Statistics (AISTATS), May 2-4, 2024, Valencia, Spain</b>.</li>
  <li><b>V. K. Chauhan</b>, A. Thakur, O. O'Donoghue, O. Rohanian, S. Molaei, and D. A. Clifton (2024) "<i>Continuous Patient State Attention Model for Addressing Irregularity in Electronic Health Records</i>", <b>BMC Medical Informatics and Decision Making</b>.</li>
  <li><b>V. K. Chauhan</b>, J. Zhou, P. Lu, S. Molaei, D. A. Clifton (2024) "<i>A Brief Review of Hypernetworks in Deep Learning</i>", <b>Artificial Intelligence Review</b>.</li>
  <li>O. H. I. Chou*, <b>V. K. Chauhan*</b>, C. T. Chung, L. Lu, T. T. L. Lee, Z. M. W. Ng, K. K. Wang, S. Lee, H. Liu, W. T. Wong, R. T. K. Pang, A. K., B. M.Y. Cheung, G. Tse, J. Zhou (2024) "<i>Comparing the risks of new-onset gastric cancer or gastric diseases in type 2 diabetes mellitus patients exposed to SGLT2I, DPP4I or GLP1A: a population-based cohort study</i>", <b>Gastric Cancer</b>.</li>
  <li>S. Molaei, N. G. Bousejin, G. Ghosheh, A. Thakur, <b>V. K. Chauhan</b>, T. Zhu, D. Clifton (2024) "<i>CliqueFluxNet: Unveiling EHR Insights with Stochastic Edge Fluxing and Maximal Clique Utilisation using Graph Neural Networks</i>", <b>Journal of Healthcare Informatics Research</b>.</li>
  <li>S. Molaei, G. Niknam, G. Ghosheh, <b>V. K. Chauhan</b>, H. Zare, T. Zhu, S. Pan, D. Clifton (2024) "<i>Temporal Dynamics Unleashed: Elevating Variational Graph Attention</i>", <b>Knowledge-Based Systems</b>.</li>
  <li>O. H. I. Chou, <b>V. K. Chauhan</b>, C. T. Chung, L. Lu, T. T. L. Lee, Z. M. W. Ng, K. K. Wang, S. Lee, H. Liu, W. T. Wong, R. T. K. Pang, A. K., B. M.Y. Cheung, G. Tse, J. Zhou (2023). "<i>1567P The effect of SGLT2i and DPP4i on new-onset gastric cancer and gastric diseases in type 2 diabetes mellitus: A population-based cohort study</i>", <b>Annals of Oncology, 34, S876</b>.</li>
  <li><b>V. K. Chauhan</b>, S. Molaei, MH. Tania, A. Thakur, T. Zhu and D. A. Clifton (2023) "<i>Adversarial De-confounding in Individualised Treatment Effects Estimation</i>", <b>The 26th International Conference on Artificial Intelligence and Statistics (AISTATS)</b>.</li>
  <li>O. Rohanian, H. Jauncey, M. Nouriborji, <b>V. K. Chauhan</b>, B. P. Gonçalves, C. Kartsonaki, ISARIC Clinical Characterisation Group, L. Merson, D. A. Clifton (2023) "<i>Using Bottleneck Adapters to Identify Cancer in Clinical Notes under Low-Resource Constraints</i>", <b>The 22nd Workshop on Biomedical Natural Language Processing and BioNLP Shared Tasks</b>.<br>
  <li>A. Khodadadi, N. G. Bousejin, S. Molaei*, <b>V. K. Chauhan</b>, T. Zhu, D. A. Clifton (2023) "<i>Improving Diagnostics with Deep Forest Applied to Electronic Health Records</i>", <b>Sensors</b>.</li>
  <li><b>V. K. Chauhan</b>, A. Thakur, O. O'Donoghue and D. A. Clifton (2022) "<i>COPER: Continuous Patient State Perceiver</i>", <b>IEEE International Conference on Biomedical and Health Informatics</b>.</li>
  <li>T. Ceritli, G. O. Ghosheh, <b>V. K. Chauhan</b>, T. Zhu, A. P. Creagh, D. A. Clifton (2023) "<i>Synthesizing Mixed-type Electronic Health Records using Diffusion Models</i>", <b>arXiv</b>, (not published).</li>
  <li>Benjamin O´Brien, Oliver Redfern, Jonathan Bedford, Stephen Gerry, <b>V. K. Chauhan</b>, Rachel Henning, Rui Providência, …, and Peter Watkinson (2025) "<i>Clinical prediction of Atrial Fibrillation after Cardiac Surgery: the AFACS risk scores</i>", (under review).</li>
</ol>

<h3>Aviation, Manufacturing & Supply Chains - Postdoc in Industrial ML at the University of Cambridge</h3>
<ol>
  <li><b>V. K. Chauhan</b>, M. Bass, A. K. Parlikad and A. Brintrup (2024) "<i>Trolley Optimisation for Loading Printed Circuit Board Components</i>", <b>Operation Research Forum</b>.</li>
  <li><b>V. K. Chauhan</b>, Stephen Mak, A. K. Parlikad, Muhannad Alomari, Linus Casassa, A. Brintrup (2023) "<i>Real-time large-scale supplier order assignments across two-tiers of a supply chain with penalty and dual-sourcing</i>", <b>Computers & Industrial Engineering</b>.</li>
  <li><b>V. K. Chauhan</b>, Muhannad Alomari, James Arney, A. K. Parlikad, A. Brintrup (2023) "<i>Multi-tier material consolidation in complex supply chains</i>", <b>Supply Chain Analytics</b>.<br>
  <li><b>V. K. Chauhan</b>, Anna Ledwoch, A. Brintrup, Manuel Herrera, Vaggelis Giannikas, Goran Stojkovic, D. Mcfarlane (2023) "<i>A network science approach to identify disruptive elements of an airline</i>", <b>Data Science and Management</b>.</li>
  <li>V. Giannikasa, A. Ledwoch, G. Stojkovic, P. Costas, A. Brintrup, A. A. S. Al-Ali, <b>V. K. Chauhan</b>, D. McFarlane (2022) "<i>A data-driven method to assess the causes and impact of delay propagation in air transportation systems</i>", <b>Transportation Research Part C: Emerging Technologies</b>.</li>
  <li><b>V. K. Chauhan</b>, Supun Perera, A. Brintrup (2020) "<i>The relationship between nested patterns and the ripple effect in complex supply networks</i>", <b>International Journal of Production Research</b>.</li>
  <li>B. Lee, M. Alomari, <b>V. K. Chauhan</b>, M. Farsi; A. Brintrup (2023) "<i>Predicting supply chain procurement bid prices with uncertainty quantification and machine learning: a case study in aerospace manufacturing</i>", (under review).</li>
</ol>

<h3>Optimisation for Machine Learning - JRF and SRF (PhD) at Panjab University Chandigarh</h3>
<ol>
  <li><b>V. K. Chauhan</b>, A. Sharma, K. Dahiya (2021) "<i>LIBS2ML: A Library for Scalable Second Order Machine Learning Algorithms</i>", <b>Software Impacts, Elsevier</b>.<br></li>
  <li><b>V. K. Chauhan</b>, A. Sharma, K. Dahiya (2020) "<i>Stochastic Trust Region Inexact Newton Method for Large-scale Machine Learning</i>", <b>Journal of Machine Learning and Cybernetics</b>.</li>
  <li><b>V. K. Chauhan</b>, A. Sharma, K. Dahiya (2019) "<i>SAAGs: Biased Stochastic Variance Reduction Methods for Large-scale Learning</i>", <b>Applied Intelligence, Springer, Vol. 49, Issue 9, pp 3331–3361</b>.</li>
  <li><b>V. K. Chauhan</b>, K. Dahiya, A. Sharma (2019) "<i>Problem Formulations and Solvers in Linear SVM: a Review</i>", <b>Artificial Intelligence Review, Springer, Vol. 52, Issue 2, pp 803–855</b>.</li>
  <li><b>V. K. Chauhan</b>, A. Sharma, K. Dahiya (2018) "<i>Faster Learning by Reduction of Data Access Time</i>", <b>Applied Intelligence, Springer 48(12):4715--4729</b>.</li>
  <li><b>V. K. Chauhan</b>, K. Dahiya & A. Sharma, (2017) "<i>Mini-batch Block-coordinate based Stochastic Average Adjusted Gradient Methods to Solve Big Data Problems</i>", <b>The Ninth Asian Conference on Machine Learning (ACML 2017) at Yonsei University, Seoul, Korea, in Proceedings of Machine Learning Research (PMLR) 77:49-64</b>.</li>
  <li><b>V. K. Chauhan</b>, K. Dahiya and A. Sharma, (2017) "<i>Trust Region Levenberg-Marquardt Method for Linear SVM</i>", <b>IEEE Proceedings of the 9th International Conference on Advances in Pattern Recognition (ICAPR-2017), In celebration of the 125th Birth Anniversary of Professor P. C. Mahalanobis, December 27-30, 2017 at Indian Statistical Institute, Bangalore, India</b>.</li>
  <li>K. Dahiya, <b>V. K. Chauhan</b> and A. Sharma, (2016) "<i>Online Support Vector Machine Based on Minimum Euclidean Distance</i>", In: Raman B., Kumar S., Roy P., Sen D. (eds) <b>Proceedings of International Conference on Computer Vision and Image Processing (CVIP-2016). Advances in Intelligent Systems and Computing, vol 459 pp. 89-99. Springer, Singapore</b>.</li>
  <li><b>V. K. Chauhan</b> (2019) "<i>Solving large scale linear support vector classification using an optimization framework based on stochastic approximation and coordinate descent approaches</i>", <b>Panjab University Chandigarh, PhD Thesis</b>.</li>
</ol>

<h3>Handwriting Recognition Using Deep Learning - Collaborations</h3>
<ol>
  <li><b>V. K. Chauhan</b>, S. Singh and A. Sharma (2024) "<i>HCR-Net: A transfer learning based script independent handwriting character recognition network</i>", <b>Multimedia Tools and Applications</b>.</li>
  <li>S. Singh, A. Sharma and <b>V. K. Chauhan</b> (2023) "<i>Indic Script Family and Its Offline Handwriting Recognition for Characters/ Digits and Words: A Comprehensive Survey</i>", <b>Artificial Intelligence Review</b>.</li>
  <li>S. Singh, <b>V. K. Chauhan</b>, Elisa H. Barney Smith (2020) "<i>A Self Controlled RDP Approach for Feature Extraction in Online Handwriting Recognition using Deep Learning</i>", <b>Applied Intelligence</b>.</li>
  <li>S. Singh, A. Sharma, <b>V. K. Chauhan</b> (2021) "<i>Online handwritten Gurmukhi word recognition using fine-tuned Deep Convolutional Neural Network on offline features</i>", <b>Machine Learning with Applications</b>.</li>
  <li>S. Singh, A. Sharma, <b>V. K. Chauhan</b> (2024) "<i>GTAGCN: Generalized Topology Adaptive Graph Convolutional Networks</i>", <b>arXiv:2403.15077</b>.<br> [ <a href="https://arxiv.org/abs/2403.15077">preprint</a> ]</li>
</ol>

<hr>

<h3>Books</h3>
<ol>
  <li>
    <b>V. K. Chauhan</b> (2021) "<i>Stochastic Optimization for Large-scale Machine Learning</i>", <b>CRC Press (Taylor & Francis)</b>. ISBN 9781032131757, <a href="[LINK_TO_BOOK]">Book</a>.
  </li>
</ol>

<hr>
